* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-image: url('../src/images/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
}

.home {
  border: 2px solid red;
  width: 40px;
}
