* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ::-webkit-scrollbar {
  width: 200px;
}

::-webkit-scrollbar-track {
  color: black;
} */

/* ::-webkit-scrollbar {
  width: 100px;
  background-color: green;
}

::-webkit-scrollbar-track {
  color: black;
}

::-webkit-scrollbar-thumb {
  color: black;
} */

.App {
  margin: 0px auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/************ NAVBAR ************/
nav {
  width: calc(100vw - 17px);
  height: 2.5rem;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
}

nav i {
  margin-left: 20px;
}

nav span {
  font-family: sans-serif;
  margin-left: 20px;
  margin-right: 500px;
  font-size: 14px;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: grey;
  font-size: 1rem;
  border-bottom: 2px solid white;
  cursor: pointer;
  font-family: sans-serif;
}

nav a:hover {
  color: black;
}

nav a.active {
  border-bottom: 3px solid black;
  box-sizing: border-box;
  color: black;
}

/************ NAVBAR ************/

/************ HOME **************/
.home {
  border: 2px solid red;
  width: 40px;
  height: 100px;
  color: black;
  margin-top: 100px;
}
/************ HOME **************/

/************ ANIMAL **************/
.animals {
  margin-top: 100px;
}
/************ ANIMAL **************/

/************ ANIMAL'S BUTTONS ****/
.animals button {
  width: 100px;
  height: 40px;
  background-color: cornsilk;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
}

.animals button:hover {
  color: brown;
  background-color: white;
}

/************ ANIMAL'S BUTTONS ****/

/********* SHOWING PHOTO  *********/
.photo-container {
  margin-top: 100px;
  position: relative;
  width: 100vw;
  /* background-image: url('https://unsplash.com/photos/ezrmK4ox7SY'); */
}

.photo-container span {
  position: absolute;
  display: inline-block;
}

.photo-container span:nth-child(1) {
  left: 15px;
  top: 0px;
}

.photo-container span:nth-child(2) {
  left: calc(33vw + 15px);
  top: 0px;
}

.photo-container span:nth-child(3) {
  left: calc(66vw + 15px);
  top: 0px;
}

.photo-container img {
  width: 30vw;
  box-shadow: 5px 5px 20px black;
  display: block;
  margin: 20px 0px;
  z-index: 1;
}
/********* SHOWING PHOTO  *********/

.nature {
  margin-top: 100px;
  color: crimson;
  font-size: 20px;
  font-weight: 900;
}
