* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  overflow-y: scroll;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/************ NAVBAR ************/
nav {
  width: calc(100vw - 8px);
  height: 2rem;
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 6px;
  color: grey;
  font-size: 1rem;
  border-bottom: 2px solid white;
  cursor: pointer;
}

nav a:hover {
  color: black;
}

nav a.active {
  border-bottom: 3px solid black;
  box-sizing: border-box;
  color: black;
}

/************ NAVBAR ************/

.home {
  border: 2px solid red;
  width: 40px;
  height: 1000px;
  color: black;
  margin-top: 100px;
}
